<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">
    <head>
        <style>
        .search-input{
          width: 300px;
          padding: 10px;
          border: 4px solid transparent;
          border-radius:10px 10px 10px 10px ;
          outline: none;
          font-size: 20px;
          color: inherit;
          background: white;
        }
        .search-button{
             text-align: center;
            <!--height: 51px;-->
            width: 40px;
            outline: none;
            cursor: pointer;
            border: 4px solid transparent;
             border-radius: 0 10px 10px 0 ;
            border-left: none;
            background: none;
            font-size: 20px;
            border-left: 4px solid transparent;
        }
            .transparent-button {
            background-color: rgba(0, 0, 0, 0); /* 빨간색 배경색, 투명도 0.5 (50%) */
            border: none; /* 기본 테두리 제거 (선택적) */
            color: white; /* 텍스트 색상 지정 (선택적) */
            padding: 10px 20px; /* 내부 여백 지정 (선택적) */
            cursor: pointer; /* 마우스 커서를 포인터로 변경 (선택적) */
        }

        </style>
        <meta charset="UTF-8">
        <title>중고 거래</title>
    </head>
    <body>
    <!-- Section-->
    <section class="py-5" style="width: 100rem;">
<!--        class="d-flex justify-content-start"-->

        <div sec:authorize="isAuthenticated()" class="d-flex justify-content-end">
            <!--            <form th:action="@{/post/search}" class="d-flex" role="search">-->
            <!--                <div class="input-group">-->
            <!--                    <input class="form-control me-2" type="text" id="search_kw" name="kw" placeholder="거래 게시글 제목이나 내용을 검색하세요." aria-label="Search"-->
            <!--                           style="width: 330px;" th:value="${kw}">-->
            <!--                    <button class="btn btn-outline-success" type="submit">🔍</button>-->
            <!--                </div>-->
            <!--            </form>-->

        </div>
        <div class="container px-3 px-lg-5 mt-5">
            <!--            <div class="row gx-3 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">-->
            <div class="d-flex justify-content-start">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="resaleDropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:transparent; border:0px; color:black;">
                        🛒
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="resaleDropdown">
                        <li><a class="dropdown-item" th:href="@{|/resalePost/myWishList|}">관심목록</a></li>
                        <li><a class="dropdown-item" th:href="@{|/resalePost/soldOutResalePosts|}">판매내역</a></li>
                        <li><a class="dropdown-item" th:href="@{|/resalePost/purchaseHistory|}">구매내역</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{|/resalePost/myMarket|}">내 마켓</a></li>
                    </ul>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{|/resalePost/createResalePost|}" style="background:transparent; border:0px; color:black;">내물건올리기</a>
                <div class="col" style="margin-left:100px;">
                    <a type="button" class="btn-gradient-2" th:href="@{/resalePost/main}" style="text-decoration:none; color:inherit;">🚀전체</a>
                    <a type="button" class="btn-gradient-2" th:href="@{/resalePost/main(category='강아지')}" style="text-decoration:none; color:inherit;" >🐶강아지</a>
                    <a type="button" class="btn-gradient-2" th:href="@{/resalePost/main(category='고양이')}" style="text-decoration:none; color:inherit;" >🐱고양이</a>
                    <a type="button" class="btn-gradient-2" th:href="@{/resalePost/main(category='기타')}" style="text-decoration:none; color:inherit;" >👽기타</a>
                </div>


                <form th:action="@{/resalePost/search}" class="d-flex" role="search">
                    <div class="input-group">
                        <input class="search-input" type="text" id="search_kw" name="kw"
                               placeholder="거래 글의 제목, 내용, 상품명을 검색하세요" aria-label="Search"
                               style="width: 330px; height:40px;" th:value="${kw}">
                        <button class="search-button" type="submit">🔍</button>
                    </div>
                </form>
                <a type="button" class="transparent-button" th:href="@{|/resalePost/main|}" style="text-decoration:none; color:inherit;">검색어 초기화</a>

            </div>
            <div class="row gx-3 gx-lg-5 row-cols-1 row-cols-md-4 row-cols-xl-4 justify-content-center">
                <!--============================이부분 each문으로 포스트 적용하면 됩니다.=====================================-->
                <div th:each="post : ${paging}" class="col mb-5">
                    <a th:href=@{|/resalePost/detail/${post.id}/0|} style="text-decoration: none; color:inherit; ">
                        <div class="card h-100">
                            <!--post image-->
                            <!--                            <div th:each="img, iterStat : ${post.postImages}" th:if="${iterStat.index lt 1}">-->
                            <!--                                <img class="card-img-top" th:src="@{|/resources/${img.saveName}|}" alt="post image" style="width:100%; height:300px;">-->
                            <!--                            </div>-->
                            <div th:if="${not #lists.isEmpty(post.resalePostImages)}">
                                <div th:each="img, iterStat : ${post.resalePostImages}" th:if="${iterStat.index lt 1}">
                                    <img class="card-img-top" th:src="@{|/resources/${img.saveName}|}" alt="post image"
                                         style="width:100%; height:250px;">
                                </div>
                            </div>
                            <div th:unless="${post.resalePostImages != null and not #lists.isEmpty(post.resalePostImages)}">
                                <!-- Use a default image if post.postImages is empty -->
                                <!--                                <img class="card-img-top" th:src="@{|/resources/no_img.jpg|}" alt="default image" style="width:100%; height:300px;">-->
                                <img class="card-img-top" src="no_img.jpg" alt="default image"
                                     style="width:100%; height:300px;">
                            </div>
                            <!-- post-->
                            <div class="card-body p-4">
                                <div class="">
                                    <!--post title-->
                                    <h5  th:text="${post.title}" style="text-weight:bold;"></h5>
                                    <!--post content-->
                                    <div th:text="${post.price} + '원'"></div>
                                    <div th:text="'상품명 : ' + ${post.name}"></div>
                                    <span style="font-size: 14px;">
                                        <div th:text="'💛찜 ' + ${post.wishProfiles.size()}" style="display:inline;"></div>
                                        <div th:text="'view : ' + ${post.view}" style="display:inline; margin-left:10px;"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- ========================여기까지 each문으로 포스트 적용하면 됩니다=======================.-->
            </div>
        </div>
        <!-- 페이징처리 시작 -->
        <div th:if="${kw == null and category == null}">
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${paging.number-1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number+1} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 페이징처리 끝 -->
        <!-- 페이징처리 시작 -->
        <div th:if="${kw == null and category != null}">
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|/resalePost/main?category=${category}&page=${paging.number-1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number+1} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{|/resalePost/main?category=${category}&page=${page-1}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|/resalePost/main?category=${category}&page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 페이징처리 끝 -->
        <!-- 페이징처리 시작 -->
        <div th:if="${kw}!=null">
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" th:href="@{|/resalePost/search?kw=${kw}&page=${paging.number-1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number+1} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link"
                           th:href="@{|/resalePost/search?kw=${kw}&page=${page-1}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|/resalePost/search?kw=${kw}&page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 페이징처리 끝 -->
    </section>
    </body>
</div>
</html>